.cardTopic{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;

}
.card{
   
    
    margin-bottom: 1rem;
    
    
    
  
}
.colDiv{
    justify-content: center;
}


.Links{
    background-color: aqua;
    height: 15rem;
    text-align: center;
    margin-top: 2rem;
   

}
.LinksContainer{
    padding: 7%;
}